html, body {
  height: 100%;
  width: 100%;
}

form {
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

#menu {
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}

#add {
  margin-top: 15px;
}

.qty {
  width: 50px;
}

.qty, .menu, .dish {
  margin: 5px 10px;
}

nav h1 {
  display: inline-block;
  float: left;
  margin-left: 20px;
}

nav .button {
  margin: 20px 10px 0 10px;
}

#home {
  margin-left: 120px;
}

#user {
  margin-top: 20px;
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#menu {
  margin-top: 50px;
}

.login {
  width: 800px;
}

#totals {
  float: right;
  font-size: 1.3em;
  text-align: right;
}
