.menu-item
  input.qty(type='number', name='qty')
  select.menu
    option Select a Menu
      each menu in menus
        option= menu

  select.dish(name='dishId')
    option Select a Dish
  button#remove-item Remove
