extends ../shared/template

block content


  #user Welcome #{user.email}!

  #menu
    div
      button#add Add Row
    form#order(action='/orders', method='post')
      .menu-item
        input.qty(type='number', name='qty')
        select.menu
          option Select a Menu
            each menu in menus
              option= menu

        select.dish(name='dishId')
          option Select a Dish
        button#remove-item Remove
      button.button.button-action#submit-order Submit Order
    #totals






block scripts
  script(src='/js/es6/compiled/orders.js')
